// delcaring variables //

// COLORS //
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light-1: #ffb900;
$color-secondary-light-2: #ff7730;

$color-tertiary-light-1: #2998ff;
$color-tertiary-light-2: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-darker: #999;
$color-grey-darkest: #333;

$color-white: #fff;
$color-black: #000;

// FONT //
$author-default-font-size: 1.6rem;

// FORMAT //
$subtle-rounded-corner: 3px;
$half-circle-edge: 10rem;

// EFFECTS //
$shadow-far: 0 1.5rem 4rem rgba($color-black, .2);
$shadow-near: 0 .5rem 1rem rgba($color-black, .5);

// GRID //
$grid-width: 114rem;
$row-margin-bottom: 8rem;
$row-margin-bottom-small: 6rem;
$row-margin-side: 6rem;
